<form *ngIf="mostrarForm" (ngSubmit)="OnSubmit()">
    <div class="forms">
        <label for="nome">Author:</label>
        <input type="text" name="author" class="inputs" placeholder="Adicione um Author" [(ngModel)]="author">
    </div>

    <div class="forms">
        <label for="nome">Musica:</label>
        <input type="text" name="musica" class="inputs" placeholder="Adicione uma Musica" [(ngModel)]="musica">
    </div>

    <div class="button">
        <input type="submit" value="Salvar" class="style">
    </div>
    
</form>